.flight-results-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.flight-results h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.flight-results {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.filters {
  width: 250px;
  flex: 0 0 280px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}

.flight-listing {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}
